{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div id="smooth-content">
    <main id="primary" class="site-main">
        <div class="space-for-header"></div>
        <section class="tj-page-header section-gap-x"   
            {% if page.hero_image %}
                data-bg-image="{{ page.hero_image.file.url }}"
            {% endif %}>
            <div class="container">
                <div class="row">
                <div class="col-lg-12">
                    <div class="tj-page-header-content text-center">
                    <h1 class="tj-page-title">{{ page.hero_title }}</h1>
                    <div class="tj-page-link">
                        <span><i class="tji-home"></i></span>
                        <span>
                        <a href="index.html">Home</a>
                        </span>
                        <span><i class="tji-arrow-right"></i></span>
                        <span>
                        <span>Service</span>
                        </span>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="page-header-overlay"  {% if page.hero_image %}
                data-bg-image="{{ page.hero_image.file.url }}"{% endif %}></div> 
        </section>
         <section class="tj-project-section section-gap">
          <div class="container">
            <div class="row row-gap-4">
                {% for expertise in expertises %}
                    <div class="col-xl-4 col-md-6">
                        <div class="project-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="project-img">
                                {% if expertise.featured_image %}
                                    <img src="{{ expertise.featured_image.file.url }}" alt="{{ expertise.title }}">
                                {% else %}
                                    <img src="{% static 'images/project/project-8.webp' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="project-content">
                                {% comment %} <span class="categories"><a href="{% pageurl expertise %}">{{ expertise.title }}</a></span> {% endcomment %}
                                <div class="service-content">
                                    <h4 class="title pb-3"><a href="{% pageurl expertise %}">{{ expertise.title }}</a></h4>
                                    {% if expertise.summary %}
                                        <p class="desc">
                                            {{ expertise.summary }}
                                        </p>
                                    {% endif %}
                                    <a class="text-btn" href="{% pageurl expertise %}">
                                    <span class="btn-text"><span>En savoir plus</span></span>
                                    <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
          </div>
        </section>
       

        <section class="tj-contact-section section-gap section-gap-x">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="global-map wow fadeInUp" data-wow-delay=".3s">
                  <div class="global-map-img">
                    <img src="{% static 'images/bg/map.svg' %}" alt="Image">
                    <div class="location-indicator loc-1">
                    </div>
                    <div class="location-indicator loc-2">
                    </div>
                    <div class="location-indicator loc-3">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="contact-form style-2 wow fadeInUp" data-wow-delay=".4s">
                  <div class="sec-heading">
                    <span class="sub-title text-white"><i class="tji-box"></i>Get in Touch</span>
                    <h2 class="sec-title title-anim">Drop Us a <span>Line.</span></h2>
                  </div>
                  <form id="contact-form-2">
                    <div class="row wow fadeInUp" data-wow-delay=".5s">
                      <div class="col-sm-6">
                        <div class="form-input">
                          <input type="text" name="cfName2" placeholder="Full Name *">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-input">
                          <input type="email" name="cfEmail2" placeholder="Email Address *">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-input">
                          <input type="tel" name="cfPhone2" placeholder="Phone number *">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-input">
                          <div class="tj-nice-select-box">
                            <div class="tj-select">
                              <select name="cfSubject2">
                                <option value="0">Chose a option</option>
                                <option value="1">Business Strategy</option>
                                <option value="2">Customer Experience</option>
                                <option value="3">Sustainability and ESG</option>
                                <option value="4">Training and Development</option>
                                <option value="5">IT Support & Maintenance</option>
                                <option value="6">Marketing Strategy</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-input message-input">
                          <textarea name="cfMessage2" id="message" placeholder="Type message *"></textarea>
                        </div>
                      </div>
                      <div class="submit-btn">
                        <button class="tj-primary-btn" type="submit">
                          <span class="btn-text"><span>Send Message</span></span>
                          <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-shape-1">
            <img src="{% static 'images/shape/pattern-2.svg' %}" alt="">
          </div>
          <div class="bg-shape-2">
            <img src="{% static 'images/shape/pattern-3.svg' %}" alt="">
          </div>
        </section>
        <section class="tj-client-section client-section-gap-2 wow fadeInUp" data-wow-delay=".4s">
          <div class="container-fluid client-container">
            <div class="row">
              <div class="col-12">
                <div class="client-content">
                  <h5 class="sec-title">Join Over <span class="client-numbers">1000+</span> Companies with
                    <span class="client-text">Bexon</span> Here
                  </h5>
                </div>
                <div class="swiper client-slider client-slider-1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="{% static 'images/brands/brand-1.webp' %}" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="{% static 'images/brands/brand-2.webp' %}" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="{% static 'images/brands/brand-3.webp' %}" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="{% static 'images/brands/brand-4.webp' %}" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="{% static 'images/brands/brand-5.webp' %}" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="{% static 'images/brands/brand-6.webp' %}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>

</div>
{% endblock %}